<%= form_for [list_entry.list, list_entry] do |f| %>
  <% if list_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_entry.errors.count, "error") %> prohibited this list_entry from being saved:</h2>

      <ul>
      <% list_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.text_field :quantity, class: 'form-control', required: true, maxlength: 20, id: 'quantity-bar', placeholder: 'Quantity' %>
  <%= form_tag food_path(:id) do %>
    <%= autocomplete_field_tag 'name', '', autocomplete_food_name_foods_path, :size => 20, :id_element => '#list_entry_food_id', required: true, id: 'autocomplete-bar', placeholder: 'Choose Food' %>
  <%= f.hidden_field :food_id %>
  <%= f.submit 'Last Add', class: "btn btn-default" %>
  <%= f.submit 'Add Another', class: "btn btn-default" %>
  <% end %>

<% end %>
