<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-3" id='new_entry_list'>
    <h2 class='text-center'>New Item for <%= @list_entry.list.name %></h2>
      <ul class='list-unstyled text-center shopping-list'>
    <% @list_entry.list.list_entries.each do |entry| %>
      <li ><%= entry.quantity %> <%= entry.food.name %></li>
    <% end %>
      </ul>

    <%= render 'form', list_entry: @list_entry %><br><br>

    <%= link_to 'Back', user_path(@list_entry.list.user), class: 'btn btn-success' %>
  </div>
</div>
