<div class='row'>

  <div class='col-xs-12 col-sm-4 col-md-4'>
    <% if @user.image.blank? %>
      <%= image_tag('https://media.giphy.com/media/E3oIfcPa9FiJa/giphy.gif', class: 'profile-pic') %>
    <% else %>
      <%= image_tag(@user.image, class: 'profile-pic') %>
    <% end %>

  <p class ='name'>
    <%= @user.name %>
  </p>

  <p class='lists'>
    <%= ZipCodes.identify(@user.location)[:city] %>, <%= ZipCodes.identify(@user.location)[:state_code] %><br><br>
    <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-success btn-block' %><br>
    <%= link_to "Add List", new_user_list_path(@user), class: 'btn btn-success btn-block' %>
  </p>

  </div>


  <div class='col-xs-12 col-sm-12 col-md-8'>
    <div class='wrapper'>
      <h2>My Lists/Recipes</h2>
      <%= render 'lists/show' %>
    </div>
  </div>

</div>
